<h1>Recipes</h1>

<div class='xs-block-grid-3'>
<% @recipes.each do |recipe| %>
    <div class="block-grid__item">
      <h2><%= link_to recipe.title, recipe %></h2>
      <p>submitted by: <%= recipe.user.email %>, at <%= recipe.created_at.strftime("%H:%M, %b %d %Y") %></p>
  </div>
<% end %>
</div>

<%= link_to 'New Recipe', new_recipe_path, class: "button" %>
