/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding: 10px;
}

nav {
  padding: 15px;
  margin-bottom: 15px;
}

#admin-published {
  margin: 15px;
  padding: 15px;
}

#admin-unpublished {
  margin: 15px;
}

.recipe {
  padding: 15px;
  margin-bottom: 30px;
  font-size: 2em
}

#new-recipe {
  margin-top: 15px;
}

#recipe-title h2 {
  font-size: 4em
}

#recipe-ingredients {
  padding-bottom: 15px
}

#recipe-ingredients h3 {
  font-size: 2em
}

#recipe-ingredients p {

}

#recipe-directions h3 {
  font-size: 2em
}

#recipe-directions p {

}